* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Beardsons Normal';
  color:darkolivegreen;
  background-color: powderblue;
}

h1 {
  font: 'Beardsons Normal';
}

main {
  padding: 1rem;
}

